<h1>Welcome to Cyber-Jeopardy</h1>
<h2>Game  Rules</h2>
<div class='desc'>
<p>Group in teams of three or more people.</p>
<p>Each group pick a name (a number for example).</p>
<p>Read the reading materiel.</p>
<p>Discuss content in group.</p>
<p>Step 1</p>
<p>Step 2</p>
<p>Each group pick order number to decide who will go first, second...</p>
<p>Group one pick topic and question points.</p>
<p>Moderator shows the question.</p>
<p>Group provide answer if correct get the allocated point then next group pick question type and points.</p>
<p>Game can continue until no questions left.</p>
<p>The group with best score wins.</p>
</div>